:root{
    --color-letras-btn: #04D4C1;
    --color-tenue-celeste: #a4f4ed;
    --color-fondo: #181616;
    --box-shadow-gris: 0 2px 5px 0 rgba(228, 225, 225, 0.16), 0 2px 10px 0 rgba(207, 204, 204, 0.12);
    --box-shadow-gris-hover: 0 2px 5px 0 rgba(228, 225, 225, 0.16), 0 2px 10px 0 rgba(207, 204, 204, 0.12);
}

.cart-container{
    position: relative;
    padding: 0;
    margin: 0;
}
.cart-container h1{
    color: var(--color-tenue-celeste);
    text-align: center;
}
.cart-container-img{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.cart-container-img{
    background-image: url('./../../../public/assets/portada.jpg');
    width: 100%;
    height: 250px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom 7% right;
    background-attachment: local;

}
.tabla-cart thead th{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 25px;
}
.tabla-cart tbody td{
    text-align: center;
    text-transform: uppercase;

}
.tabla-cart tbody td h2{
    font-size: 15px;
}
.table-total thead th{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.table-total thead th:nth-child(2){
    background-color: #ccfbf7;
    text-align: center;
    color: #000;
}

.btn-botones-cart{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    margin-left: 50px;

}

.btn-vaciar-carrito{
    color: #fff;
    background: #000;
    padding: 4px 25px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 100%;

}
.btn-vaciar-carrito,
.btn-regresar-catalogo{
    width: 330px;
    height: 60px;
    color: #fff;
    background-color: var(--color-letras-btn);
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-gris);
    font-size: 17px;
}
.btn-vaciar-carrito:hover,
.btn-regresar-catalogo:hover{
    opacity: 0.8;
    box-shadow: var(--box-shadow-gris-hover);
}
.btn-icono{
    margin-right: 10px;
}
