#cantidad-carrito {
    color: #212121;
    background-color: #fff;
    position: absolute;
    right: -20%;
    top: -5%;
    padding: 0 5px;
    border-radius: 50%;
    font-size: 13px;
}

.car-contenedor h5 {
    font-size: 10px;
    color: #04D4C1;
}