*{
    margin: 0;
    padding: 0;
    color: #fff;
    list-style: none;
    text-decoration: none;
    
}

body{
    background-color: rgb(24, 22, 22);
}
/* --------------------------- ITEM LIST CONTAINER -------------------------------- */
/* Carousel */
.carousel .carousel-inner{
    display: flex;
}
.carousel-item{
    position: relative;
    height: 350px;
    width: 900px;
    margin: 0 auto;
    
}

.carousel-item img{
    padding-top: 30px;
    position: absolute;
    height: 90%;
    border-radius: 20px;
}

.container-guitars{
    max-width: 90%;
    overflow-x: hidden;
    margin:auto;
}

.contenedor-general-productos{
    display: block;
    position: relative;
}
.contenedor-general-productos::after{
    content: "";
    background-image: url('./../../../public/assets/img/fondo-store.jpg');
    /* height: 100%; */
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1; 
    /* overflow: visible; */
    /* background-position: center center; */
    background-repeat: repeat;

    /* background-attachment: fixed; */
    /* -webkit-background-size: cover;
    -moz-background-size: cover; */
    /* background-size: cover; */
}
/* --------------------------- ITEM LIST -------------------------------- */

.guitars-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px ;
    padding: 2em 1em;
    box-sizing: border-box;
}
@media screen and (max-width: 1200px){
    .guitars-grid {
    grid-template-columns: repeat(2,1fr);
    }
}
.guitar-card{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    

}
/* --------------------------- ITEM -------------------------------- */
.guitar-tarjeta{
    position: relative;
    width: 400px;
    min-height: 100%;
    background-color: rgb(24, 22, 22);
    overflow: hidden;
    box-sizing: border-box;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}
.guitar-tarjeta .card-body{
    background-color: rgb(24, 22, 22);
}
.guitar-tarjeta-descuento{
    width: 100%;
    position: absolute;
    color: white;
    font-weight: 800;
    top: -2px;
}
.descuento-red{
    width: 100%;
    background-color: red;
    padding: 2px 10px;
}
.descuento-green{
    position: absolute;
    background-color: green;
    padding: 20px 10px ;
    border-radius: 100%;
    right: 60px;
    top: 5px;
}
.guitar-tarjeta .guitar-img-container{
    width: 100%;
    background-color: #fff;
    padding: 20px 0px 10px 0px;
}
.guitar-img-container img{
    
    width: 150px;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.card-body{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 20px;
    gap: 5px; 
}
.card-body .guitar-tarjeta-title{
    min-height: 80px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
}
.card-body .guitar-tarjeta-info-card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-body .guitar-tarjeta-price-before{
    text-decoration: line-through;
}
.card-body .guitar-tarjeta-info-card span{
    font-size: 10px;
    background-color: rgb(66, 122, 218);
    padding: 1px 5px;
    border-radius: 10px;
   

}
.card-body .guitar-tarjeta-info-card img{
    padding: 1px 20px;
}
.guitar-tarjeta-stars{
    display: flex;
    gap: 5px;
}
.guitar-tarjeta-stars-lista{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.btn-visualizar-infomacion{
    min-width: 100%;
    max-height: 30px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
.btn-information{
    color: black;
    padding: 4px 25px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}
/* --------------------------- ITEM COUNT -------------------------------- */
.agregar-guitars{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#pantalla{
    display: grid;
    max-width: 50%;
    grid-template-columns: repeat(3, 1fr);
    align-content: stretch;
    justify-content: space-around;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 40px;
}
#pantalla button{
    width: 40px;
    height: 40px;
    color: #000;
    font-size: 30px;
    font-weight: 900;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}
#cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    color: #000;
}

.tarjeta-inferior{
    display: flex;
    max-width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
    font-size: 10px;
}
.tarjeta-inferior #agregar{
    min-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color:white;
    font-weight: 600;
    color: black;
    margin-left: 3px;
    padding: 10px 10px;
    border-radius: 20px;
    
}
.tarjeta-inferior #terminar-compra{
    min-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color:rgb(233, 229, 163);
    font-weight: 600;
    color: black;
    margin-left: 3px;
    padding: 10px 10px;
    border-radius: 20px;
    
}
/* --------------------------- ITEM DETAIL -------------------------------- */
.item-detail-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 60px;
}
.item-detail-image{
    background-color: #fff;
    margin: 20px 0 0 0;
}
.item-detail-image img{
    margin: 25% 25%;
}

/* --------------------------- PIE PAGINA -------------------------------- */
.App #pie-pagina{
    margin: 0 auto;
}
#pie-pagina{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    margin-top: 30px;
    padding: 20px;
}
.pie-pagina-listado{
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
}
.pie-pagina-listado h4{
    font-weight: 600;
}
.pie-pagina-listado ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pie-pagina-listado .redes{
    display: flex;
    flex-direction: row;
    font-style: italic;
    gap: 20px;
    padding: 0 10px;
}

.pie-pagina-listado ul li{
    align-self: flex-start;
    
}

