@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;600;800&family=League+Spartan:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@100;300;600;800&family=Roboto:ital,wght@0,300;0,500;1,900&display=swap');

:root{
    --color-letras-btn: #04D4C1;
    --color-tenue-celeste: #a4f4ed;
    --color-fondo: #181616;
    --box-shadow-gris: 0 2px 5px 0 rgba(228, 225, 225, 0.16), 0 2px 10px 0 rgba(207, 204, 204, 0.12);
    --box-shadow-gris-hover: 0 2px 5px 0 rgba(228, 225, 225, 0.16), 0 2px 10px 0 rgba(207, 204, 204, 0.12);
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}
html {
    position: relative;
  }
body{
    background-color: var(--color-fondo);

}

/* --------------------------- ITEM LIST -------------------------------- */

.guitars-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 2em 1em;
    box-sizing: border-box;
    color: #fff;
    box-sizing: border-box;
}

.guitar-card{
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;

}
/* --------------------------- ITEM -------------------------------- */
.guitar-tarjeta{
    width: 100%;
    color: #fff;
    position: relative;
    background-color: var(--color-fondo);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: var(--box-shadow-gris)

}
.guitar-tarjeta:hover{
    box-shadow: var(--box-shadow-gris-hover);

}
.guitar-tarjeta .card-body{
    width: 100%;
    background-color: var(--color-fondo);

}
.guitar-tarjeta-descuento{
    width: 100%;
    position: absolute;
    color: #fff;
    font-weight: 800;
    top: -2px;
}
.descuento-red{
    width: 100%;
    font-size: 15px;
    background-color: rgb(243, 28, 28, 0.8);
    padding: 2px 10px;
}
.descuento-green{
    position: absolute;
    background-color: rgba(10, 232, 10, 0.7);
    font-size: 15px;
    font-weight: 700;
    padding: 20px 2px ;
    border-radius: 100%;
    right: 5px;
    top: 5px;
}
.guitar-tarjeta .guitar-img-container{
    width: 100%;
    background-color: #fff;
    padding: 20px 0px 10px 0px;
}
.guitar-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.guitar-img-container .guitar-img{
    width: 130px;
}
.card-body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px; 
    padding: 5px 5px 0 5px;
    height: 235px;
    
}
.card-body .guitar-tarjeta-title{
    font-size: 13px;
    height: 47px;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: center;
    align-self: center;
}

.card-body .guitar-tarjeta-price{
    font-size: 18px;
    margin-left: 10px;
}

.card-body .guitar-tarjeta-price-before{
    text-decoration: line-through;
    font-size: 12px;
    margin-left: 10px;
}
.card-body .guitar-tarjeta-info-card{
    display: flex;
    margin-left: 10px;
    gap: 10px;
}
.card-body .guitar-tarjeta-info-card span{
    font-size: 10px;
    background-color:var(--color-letras-btn);
    padding: 1px 5px;
    border-radius: 10px;
    align-self: center;
}
.card-body .guitar-tarjeta-info-card img{
    width: 50px;
}
.guitar-tarjeta-stars{
    display: flex;
    gap: 5px;
    margin-left: 10px;
}
.guitar-tarjeta-stars-lista{
    display: flex;
    flex-direction: row;
    padding-left: 0;
}
.btn-visualizar-infomacion{
    font-size: 12px;
    min-width: 100%;
    max-height: 30px;
    box-sizing: border-box;
    margin: auto;
    margin-bottom: 10px;
    position: relative;
}

.btn-information{
    position: absolute;
    top: -37px;
    left: 40px;
    color: black;
    padding: 4px 25px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow-gris);
}
.btn-information:hover{
    opacity: 0.8;
    transform: translateY(-0.8px) scale(.95);
    box-shadow: var(--box-shadow-gris-hover);

}
/* --------------------------- ITEM COUNT -------------------------------- */
.agregar-guitars{
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
#pantalla{
    display: grid;
    max-width: 50%;
    grid-template-columns: repeat(3, 1fr);
    align-content: stretch;
    justify-content: space-around;
    background-color: #fff;
    padding: 3px 5px;
    border-radius: 40px;
    box-shadow: var(--box-shadow-gris);
}
#pantalla button{
    width: 24px;
    height: 24px;
    color: #000;
    font-size: 30px;
    font-weight: 900;
    border-radius: 50%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: var(--box-shadow-gris);

}
#cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    color: #000;
}

.tarjeta-inferior{
    display: flex;
    max-width: 30%;
    height: 100%;
    justify-content: space-around;
    align-items: stretch;
    margin: 0 auto;
    font-size: 10px;
}
.tarjeta-inferior #agregar, #terminar-compra{
    min-width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    background-color:white;
    font-weight: 900;
    color: black;
    margin-left: 3px;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid rgb(0, 0, 0);
    font-size: 14px;
    box-shadow: var(--box-shadow-gris);
}
.tarjeta-inferior #agregar:disabled{
    opacity: 0.9;
    color: rgb(130, 130, 129);
}


.tarjeta-inferior #terminar-compra{
    background-color:#04D4C1;
    color: rgb(255, 255, 255);    
    box-shadow: var(--box-shadow-gris);
}
/* --------------------------- ITEM DETAIL -------------------------------- */
.item-detail-container-principal{
    height: 700px;
    width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
}

.item-detail-container{
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 10px;
    gap: 5em;
}
.item-detail-image{
    width: 350px;
    height: 400px;
    background-color: #fff;
    border-radius: 10%;
}
.item-detail-image img{
    margin: 40% 25%;
}
.item-detail-description{
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}
.item-detail-description hr{
    margin: 2px 0;
}
.item-detail-container h1{
    font-size: 20px;
    margin: 0;
    color: rgb(182, 248, 243);
}
.item-detail-description div:nth-child(2) td{
    font-size: 12px;
    box-shadow: 2px 2px 2px #000;
}
.item-detail-box{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
    height: 2em;
}
.item-detail-box .item-detail-explanation{
    margin-left: 15px;
}
.item-detail-box .tabla-cart td{
    font-size: 9px;
    padding: 2px 5px;
}
.precios{
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 20px;

}
.item-detail-price-af{
    text-decoration: line-through;
    color: rgb(173, 181, 187);
    font-size: 13px;
    align-self: center;
}

/* --------------------------- PIE PAGINA -------------------------------- */

body #pie-pagina{
    width: 100%;
    position: absolute;
    margin: 0 auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(17, 6, 21);

}
#pie-pagina{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px;
    margin-top: 30px;
    padding: 20px;
}
.pie-pagina-listado{
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-transform: uppercase;
}
.pie-pagina-listado h4{
    font-weight: 600;
}
.pie-pagina-listado ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pie-pagina-listado .redes{
    display: flex;
    flex-direction: row;
    font-style: italic;
    gap: 20px;
    padding: 0 10px;
}

.pie-pagina-listado ul li a{
    align-self: flex-start;
    color: rgb(188, 188, 234);
    text-decoration: none;
}

