/* *{
    margin: 0;
    padding: 0;
}
.container > *{
    position: relative;
}
.tarjeta{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7%;
    border: 5px solid #212121;
    min-height: 20rem;
}
#img-tarjeta img{
    padding: 30px 0;
    border-radius: 20px 0 0 20px ;
    background-size: left 20% top 20%;
    max-width: 50%;
    min-height: 20rem;
}
#tarjeta-contenido{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #212121;
    color: #fff;
    padding: 25px 5px;
    border-radius: 0 20px 20px 0;
    min-height: 20rem;

}
.tarjeta-superior{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-transform: uppercase;
    gap: 30px;
}
#pantalla{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 900;
    font-size: 30px;
        background-color: #fff;
    color: #212121;
}
#pantalla button{
    padding: 5px 20px;
    border: none;
    background-color: #fff;
    color: #212121;
    font-weight: 900;
    cursor: pointer;
}
#pantalla button:hover{
    background: #555454;
    color: #fff;
}
.tarjeta-inferior button{
    border: none;
    margin-top: 30px;
    min-width: 100%;
    padding: 0;
    background-color: #fff;
    font-size: 15px;
    text-transform: uppercase;
}
#agregar{
    padding: 0;
} */
