@import url('https://fonts.googleapis.com/css2? family= Roboto+Serif:ital,opsz@1,8..144 & display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Roboto Serif', serif;  
    font-size: 15px;
    color: #fff;
}

#barra-navegacion{
    position: fixed;
    width: 100%;
    background: rgb(26, 25, 24);
    padding: 0;
    top: 0;
    margin: 0;
    z-index: 10;
    height: 60px;
}
.mg-top{
    margin-top: 65px;
}
.link-nav{
    text-decoration: none;
}
.navbar>.container{
    font-size: 12px;  
    justify-content: center;
    text-transform: uppercase;
}
.navbar-brand{
    padding: 0;
    margin: 0;
    margin-left: 40px;
}
#logo{
    padding: 0;
    margin: 0;
}

#barra{
    display: flex;
    gap: 15px;
}
#barra *{
    color: #fff;
    text-decoration: none;
}
#carrito{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-right: 30px;
    align-items: center;
    gap: 10px;
    text-align: center;
    padding-top: 5px;
}
#carrito #car{
    position: absolute;
    font-size: 100px;
    margin: 0 auto;
    align-items: flex-end;
}
#cantidad-carrito{
    margin-bottom: 35px;
    margin-left: 35px;
    color: #212121;
    background-color: #fff;
    border-radius: 100%;
    padding: 3px 10px;
    text-align: center;
}
#barra-navegacion .claseActive{
    color: rgb(188, 188, 234);
    font-weight: 900;
}
.cart-container{
    padding: 100px 0;
}

