:root{
    --color-letras-btn: #04D4C1;
    --color-tenue-celeste: #a4f4ed;
    --color-fondo: #181616;
    --box-shadow-gris: 0 2px 5px 0 rgba(228, 225, 225, 0.16), 0 2px 10px 0 rgba(207, 204, 204, 0.12);
    --box-shadow-gris-hover: 0 2px 5px 0 rgba(228, 225, 225, 0.16), 0 2px 10px 0 rgba(207, 204, 204, 0.12);
}
*{
    margin: 0;
    padding: 0;
}
.container-registrarse{
    position: relative;
    width: 100%;


}
.contenedor-sesion ul, .container-registrarse ul{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 420px;
}
.contenedor-formulario-sesion{
    width: 100%;
    z-index: 20;
    overflow: hidden;
}
ul li.contenedor-formulario-sesion, ul li.contenedor-formulario-sesion {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form-iniciar-sesion, .form-registrarse{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 35%;
}
.form-registrarse{
    gap: 10px;
    margin-top: 40px;
}
.form-item, .form-item-reg{
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
.form-item label, .form-item-reg label{
    font-size: 22px;
    margin-left: 20px;

}
.form-item #correo, 
.form-item #contrasena, 
.form-item-reg #nombre,
.form-item-reg #correo,
.form-item-reg #contrasena{
    padding: 10px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.form-item-sex{
    display: inline-block;
    text-align: center;
}
.form-item-politicas label{
    font-size: 12px;
    text-align: center;
}

#btn-sesion, #btn-registrarse{
    width: 330px;
    height: 45px;
    color: #fff;
    background-color: var(--color-letras-btn);
    padding: 10px 25px;
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    box-shadow: var(--box-shadow-gris);
    font-size: 17px;
    align-self: center;
}
ul .portada-sesion, ul .portada-registrarse{
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 120%;
    overflow: hidden;
    background-color: rgba(87, 3, 22, 0.2);
}
ul .portada-registrarse{
    background-color: rgb(4, 212, 193, 0.2);
}
.portada-sesion-img img, .portada-registrarse img{
    opacity: 0.6;
    overflow: hidden;
}
.portada-registrarse img{
    margin-top: 0;
    background-position: bottom right;
}
.form-iniciar-sesion h3{
    width: 300px;
    font-size: 15px;
    color: #181616;
    align-self: center;
}
.form-iniciar-sesion #signUp{
    margin-left: 40px;
    color: var(--color-fondo);
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
}
.error{
    font-size: 12px;
    color: #e80606;
    margin-left: 20px;
}
.form-item-politicas .error{
    text-align: center;
}
