
  .search {
    background: rgb(74, 75, 75);
    height: 32px;
    width: 230px;
    border-radius: 40px;
    padding-left: 10px;
    padding-bottom: 6px;
    position: relative;
  }
  
  .search:hover > .search-btn {
    transform: translateX(12%) scale(0.9);   
  }
  .search-btn {
    position: absolute;
    width: 27px;
    height: 27px;
    border-radius: 50%;
    background: #1D1E22;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 3%;
    top: 5%;
  }
  
  .search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    width: 110px;
    padding-bottom: 20px;
  }

  