.guitars-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    padding: 2em 1em;
    box-sizing: border-box;
    color: #fff;
    box-sizing: border-box;
}


.guitar-card {
    width: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    box-sizing: border-box;
}